@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>住所を入力すると郵便番号が表示されるかも</h1>
@using (Html.BeginForm(
                          "",      // アクション名
                          "",    // コントローラー名
                          new { id = "address", charset = "utf8" },        // ルートパラメーター
                          FormMethod.Post,                               // HTTP メソッド
                          new { id = "fm", enctype = "multipart/form-data" } // その他の属性
                        ))
{
        @Html.TextBox(
      "address",          // 要素名
      "",  // デフォルト値
      new { maxlength = 20 }  // その他の属性

    )
    <input type="submit" value="OK" />

}
    
</div>

<div class="container">
    @if (ViewBag.res != null)
    {
        <table class="table">
            @foreach (var item in ViewBag.res)
            {
                <tr>
                    <td>@item.Code</td>
                    <td>@item.Name</td>
                </tr>
            }

        </table>
    }


</div>


