@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Input address </h1>
@using (Html.BeginForm(
                          "",      // アクション名
                          "",    // コントローラー名
                          new { id = "address", charset = "utf8" },        // ルートパラメーター
                          FormMethod.Post,                               // HTTP メソッド
                          new { id = "fm", enctype = "multipart/form-data" } // その他の属性
                        ))
{
        @Html.TextBox(
      "address",          // 要素名
      "",  // デフォルト値
      new { maxlength = 20 }  // その他の属性

    )
    <input type="submit" value="OK" />

}
    
</div>


