
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Upload</title>
</head>
<body>
    <div class="jumbotron">
        <h2>郵便番号データを入れ替えます</h2>
        <a href="http://jusyo.jp/index.html">データはこちらからCSV形式をダウンロード</a>
        @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="uploadFile" />
            <input type="submit" />
        }
        @ViewBag.Result
    </div>
</body>
</html>
